.upcoming_mobiles
{
    display: inline-block;
    font-size:20px;
    color: black;
    height: 50px;
 
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.grid-container_body
{
    display: grid;
    grid-template-columns: 250px 250px;
}
.upcoming_mobiles2
{
    display: inline-block;
    font-size:15px;
    color: rgb(245, 136, 11);
    height: 50px;
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.grid-container_mobile_body
{
    display: grid;
    grid-template-columns: repeat(auto-fit , 306px);
    grid-template-rows: 480px ;
     gap: 15px;
     padding-left: 36px;
     padding-top: 10px;
}

.grid-container_mobile_body>div{
    background-color:white;
    border: 1px solid rgb(210, 204, 204);
}
.mobile_img
{
   padding-left: 112px; 
}
.mobile_name
{
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
}
.grid_container_mobile_price
{
    display: grid;
    grid-template-columns: 160px 80px;
    grid-template-rows: 90px;
}
.mobile_price
{
    display: inline-block;
    height: 70px;
    width: 160px;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 19px;
    font-weight: bold;
    color: orangered;
    padding-left: 45px;
    padding-top: 25px;
      
}
.price_expected
{
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    padding-top: 31px;
    padding-left: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.view_details
{
    background-color:rgb(233 221 221);
    height: 53px;
    width: 100%;
    border: 1px solid rgb(210, 204, 204);
    color:rgb(94, 84, 84);
}
.view_center
{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:599;
    
}
.top_box
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 60px;
    background-color: rgb(10, 159, 10);
}