.slidecontainer {
    width: 100%;
  }

  .slider {
    padding: 0px;
    margin: 0px;
    position: absolute;
    display: inline-block;
    top: 0px;
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    background: #d3d3d3;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 16px;
    background-image: url(img/checker.jpg);
    background-size: 150px;
    /* background-color:  linear-gradient(to right,white , black); */

  }
 
 .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: black;
    cursor: pointer;
    border-radius:20px;
    border: 5px solid rgb(132, 123, 123);
    opacity:1;  
  }

  
  .sss
  {
    position: relative;
    /* display: inline-block; */
    background:  linear-gradient(to right,white , black);
    -webkit-appearance: none;
    width: 60%;
    height: 25px;
    /* background-size: 150px; */
    outline: none;
    /* opacity: 0.7; */
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 16px;
    border: 2px solid gray;
  }

  .grid-container-color
{
    display: grid ;
   padding-top: 30px;
   padding-left: 30px;
    grid-template-columns: 200px 200px 200px 200px;
    
    
}  
  .red
{
  background-color: red;
  height: 50px;
  width: 50px;
}
.blue
{
  background-color: rgb(0, 255, 255);
  height: 50px;
  width: 50px;
}
.green
{
  background-color: green;
  height: 50px;
  width: 50px;
}
.black
{
  background-color: black;
  height: 50px;
  width: 50px;
}
.result
{
  height: 50px;
  width: 50px;
}
  